img{
    width: 30%;
    /*
    This is amazing, I never knew about this.
    I guess since most of the time you use 
    flexbox this isn't discussed, but I really 
    want to document it in case I nedd it.
    */
    margin: calc(10%/6);
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}